.lyrics {
text-align: center;
border: 2px dashed #ff0202;
padding: 12px;
border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
}
::-moz-selection { 
  color: #fff;
  background: #ff0000;
}

::selection {
  color: #fff;
  background: #ff0000;
}
@media print {
  body * {
    visibility: hidden;
  }
 .lyrics {
    visibility: visible;
  }
  .lyrics{
    position: absolute;
    left: 0;
    top: 0;
  }
}
