.lyrics {
text-align: center;
border: 2px dashed #ff0202;
padding: 12px;
border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
}
::-moz-selection { 
  color: #fff;
  background: #ff0000;
}

::selection {
  color: #fff;
  background: #ff0000;
}
.pdf{ background-color: #ff0000; 
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  }
.pdf:hover{ background-color: #000; 
}
.cookie-choices-info{display: none; }
